.button-hever-effect:hover {
  filter: drop-shadow(0 0 2px rgba(2, 2, 2, 0.442));
}
.profile {
  top: 10px !important;
  right: 10px !important;
  text-align: center;
}
.canvas-body {
  box-shadow: 0px 0px 19px 7px rgba(128, 128, 128, 0.45);
}
.fixedtop {
  position: fixed;
  right: 10px;
}
.card-width {
  width: 70% !important;
}
.input-check{
    width: 25px!important;
    height: 25px!important;
}
.cursor-pointer{
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .card-width {
    width: 100% !important;
  }
  .App {
    width: 100% !important;
  }
}
@media only screen and (max-width: 991px) {
  .card-width {
    width: 85% !important;
  }
}
@media only screen and (max-width: 1290px) {
  .card-width {
    width: 65% !important;
  }
}
